
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-right-big:before { content: '\e805'; } /* '' */
.icon-left-big:before { content: '\e806'; } /* '' */
.icon-facebook-squared:before { content: '\e807'; } /* '' */
.icon-gplus:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e809'; } /* '' */